* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}
.main__img {
	max-height: 200px;
	width: 100%;
}

.main__title {
	margin: 10px;
	display: flex;
	justify-content: center;
}

.create__btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin: 20px 220px;
	border: none;
}

.create__btn button {
	background-color: cadetblue;
	color: whitesmoke;
	cursor: pointer;
	transition: transform 200ms ease;
	border: none;
	height: 35px;
	width: 150px;
	border-radius: 10px;
	font-size: 700;
	box-shadow: 5px 5px 10px rgba(34, 19, 19, 0.733);
}

.create__btn:hover {
	transform: scale(1.05);
	transition: transform 200ms ease;
}

.create__btn i {
	font-size: 25px;
	color: cadetblue;
}

.card-container {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	margin: 30px;
}

.card {
	display: flex;
	gap: 40px;
	width: 450px;
	border-radius: 5px;
	padding: 20px;
	border: 1px solid #aaa9;
	transition: transform 200ms ease;
	justify-content: space-between;
	overflow-x: hidden;
}

.card:hover {
	transform: scale(1.05);
	transition: transform 200ms ease;
}

.card__item {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-bottom: 7px;
	color: cornflowerblue;
	font-family: 'Red Hat Display', sans-serif;

	padding-left: 10px;
}

.card__span {
	color: black;
	transform: traslateX(-10px);
}

.card__footer {
	display: inline-flex;
	gap: 30px;
	margin: auto;
	margin-right: 35px;
	height: min-content;
	align-items: center;
	justify-content: flex-end;
}

.card__btn {
	border: none;
	/* padding: 8px 12px; */
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	transition: transform 200ms ease;
}
.card__btn:hover {
	transform: scale(1.2);
	transition: transform 200ms ease;
}

.card__btn:nth-child(1) {
	/* background-color: #aaa9; */
	color: rgb(83, 132, 10);
}

.card__btn:nth-child(2) {
	/* background-color: cornflowerblue; */
	color: red;
}

@media screen and (max-width: 600px) {
	.card {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	button {
		margin: 0;
	}

	.create__btn {
		display: flex;

		justify-content: center;
		align-items: center;
		gap: 10px;
		margin: 0 auto;
		border: none;
		width: 150px;
	}

	.create__btn button {
		/* height: 35px; */
		width: 200px;
		font-size: 0.7rem;
		font-weight: 400;
		letter-spacing: 2px;
	}

	.create__btn i {
		font-size: 25px;
	}

	.card__footer {
		display: inline-flex;
		gap: 30px;
		margin: 0 auto;
		height: min-content;
	}
}
